{% extends 'layout/layout.html' %}

{% block title %}主页{% end %}

{% block content %}
<div class="about">
  <div class="am-g am-container">
    <div class="am-u-lg-12">
    {% if not current_user %}
    <h2 class="about-title about-color">留言区！欢迎踊跃发言！留言前请先登录！</h2>
    {% end %}
    </div>
  </div>
</div>

<div class="board">
  <div class="am-g am-container">
    <div class="am-u-lg-12">
    {% if replies %}
      {% set replies_per_page = 9 %}
      {% for reply in replies[(p-1)*replies_per_page : p*replies_per_page] %}
      <div class="msg-list">
        <div class="list-img">
{#          <a href="/member/sukai" class="head-pic">#}
            <a href="/user/{{ reply['author'] }}" class="head-pic">
            <img class="avatar" src="{{ reply.get('author_photo', '/static/images/demo.png') }}">
          </a>
        </div>

        <div class="list-message">
          <div class="list-headers">
            <a href="/user/{{ reply['author'] }}" class="list-usernmae">{{ reply['author'] }}</a>
            <span class="list-ip"> | IP:{{ reply['ip'] }}</span>
            <span class="am-badge am-round">{{ reply['index'] }}</span>
          </div>
          <div class="list-content">
            {% raw reply['content_html'] %}
          </div>
          <div class="list-footer">
            <span class="message-time">{{ reply['reply_time'] }}</span>
            {% set toUser = reply['author'] %}
            <a onclick="my_function('{{ toUser }}')" href="javascript:void(0)"><span class="am-badge am-badge-success am-round">回复作者</span></a>
          </div>
        </div>
      </div>
      {% end %}
    {% end %}


    {% if p>1 %}
    <a href="/?p={{ p-1 }}"><button type="button" class="am-btn am-btn-primary am-radius">上一页</button></a>
    {% else %}
    <a href="javascript:void(0)"><button type="button" class="am-btn am-btn-primary am-radius" disabled="disabled">上一页</button></a>
    {% end %}
    {% if p*replies_per_page < replies_count %}
    <div style="float:right">
    <a href="/?p={{ p+1 }}"><button type="button" class="am-btn am-btn-primary am-radius">下一页</button></a>
    </div>
    {% else %}
    <div style="float:right">
    <a href="javascript:void(0)"><button type="button" class="am-btn am-btn-primary am-radius" disabled="disabled">下一页</button></a>
    </div>
    {% end %}
    </div>
  </div>


  {% if current_user %}
  <div class="am-g am-container">
    <div class="am-u-lg-12">
      <div class="board-block">
        <form id="form_answer" method="post" class="am-form">
          <fieldset>
            <div class="am-form-group">
              <p class="about-color" id="editor">{{ handler.current_user["username"] }}，你好！欢迎留言</p>
              <textarea class="reply-text" rows="5" id="board-text" name="content"></textarea>
            </div>
            <input type="submit" class="am-btn am-btn-success" id="FormSubmitButton" value="发表"><span id="form-msg" style="display:none;"></span>
          </fieldset>
{#        {% raw xsrf_form_html() %}#}
        </form>
      </div>
    </div>
  </div>
  {% end %}

</div>
{% end %}
{% block javascript %}
<script src="{{ static_url("js/kindeditor/kindeditor.js") }}"></script>
<script src="{{ static_url("js/kindeditor/kindeditorEdit.js") }}"></script>
<script src="{{ static_url("js/kindeditor/plugins/multiimage/multiimage.js") }}"></script>
<script src="{{ static_url("js/kindeditor/lang/zh_CN.js") }}"></script>
<script src="{{ static_url("js/jquery.form.js") }}"></script>
<script type="text/javascript">
    //加载富文本编辑器
    KindEditor.ready(function (K) {
        window.editor = K.create('#board-text', options);
//        var detail = $("#detailHtml").text();
//        $("#detailHtml").empty();
//        editor.insertHtml(detail);
    });
{#    var listing_duration_map = {% raw durations_all %};#}
    var form_msg = $("#form-msg");
    $('#form_answer').ajaxForm({
                    dataType: 'json',
                    beforeSerialize: function ($form, options) {
                        editor.sync();
                    },
                    beforeSubmit: function () {
                        $('#FormSubmitButton').attr('disabled', 'disabled');
                        form_msg.html("<span class='ajax_processing'>正在提交留言，请稍候...</span>");
                        form_msg.show();
                    },
                    success: function (json) {
                        $('#FormSubmitButton').removeAttr('disabled');
                        if (json.msg) {
                            form_msg.html("<span class='error_msg'>" + json.msg + "</span>");
                            form_msg.show();
                        }
                        else if (json.success) {
{#                            ajax_get("/question/show_answer?_answer_id=" + json.id, true, function (data) {#}
{#                                                                    $('.QuestionReplies ul.list').append(data);#}
{#                                                                editor.html('');#}
{#                                $('.answer_count').html(json.answer_count);#}
{#                            });#}
                            ajax_get("/");
                            $('#form_msg').hide();
                        }
                    }
                });
</script>
{% end %}