{% extends 'layout/layout.html' %}
    {% block title %}
    {{ account['username'] }}的个人主页 | 留言板
    {% end %}
    {% block css %}
    <link href="{{ static_url("css/user.css") }}" rel="stylesheet">
    {% end %}
{% block content %}
<div class="am-g am-container">
  <div class="am-u-lg-12">
    <div class="user-list">
      <span>昵称:{{ account['username' ] }}</span>
      <br>
      <span>头像:</span>
        <img class="square-image" src="{{ account.get('user_photo', '/static/images/demo.png') }}" >
        <img class="circle-image" src="{{ account.get('user_photo', '/static/images/demo.png') }}" >
        <div id="upload" style="width: 110px;" class="pull-left"></div>
        <div id="img"><img class="image" src="/static/images/add.png"></div>
      <br>
      <span>Blog:{{ account['blog' ] }}</span>
    </div>
  </div>
</div>
<!--<footer class="footer">
  <p>Create By <a href="http://sukai.me/" target="_blank">SuKai</a>, Using Tornado&&AmazeUI.</p>
</footer>
-->
{% end %}
{% block javascript %}
<script src="{{ static_url("js/Huploadify.js") }}"></script>
<script src="{{ static_url("js/picture.js") }}"></script>
{% end %}